<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests" thread-count="5">
    <listeners>
        <listener class-name="ecommercetesting.Listeners.TestListener" />
    </listeners>

    <test name="SignUpTest">
        <classes>
            <class name="ecommercetesting.tests.SignupTest" />
        </classes>
    </test>

    <test name="LoginTest">
        <classes>
            <class name="ecommercetesting.tests.LoginTest" />
        </classes>
    </test>

    <test name="ContactUsTest">
        <classes>
            <class name="ecommercetesting.tests.ContactUsTest" />
        </classes>
    </test>

    <test name="ProductTest">
        <classes>
            <class name="ecommercetesting.tests.ProductTest" />
        </classes>
    </test>

    <test name="LandingPageTest">
        <classes>
            <class name="ecommercetesting.tests.LandingPageTest" />
        </classes>
    </test>

    <test name="CartTest">
        <classes>
            <class name="ecommercetesting.tests.CartTest" />
        </classes>
    </test>

    <test name="CheckOutTest">
        <classes>
            <class name="ecommercetesting.tests.CheckOutTest" />
        </classes>
    </test>
</suite>
